.about {
    background-color: var(--secondary-bg);
    color: var(--primary-text);

    p {
        text-align: justify;
        text-indent: 20px;
    }
}

.feature {
    .title {
        font-size: 2.2rem;
        font-weight: bold;
    }
    .subtitle {
        font-size: 0.8rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    .description {
        font-size: 0.9rem;
        padding: 15px 30px;
        text-align: center;
    }
}