@import '../../globals.scss';

.main-navbar {
  background-color: var(--primary-bg);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  transform: translateY(-$navbar-height);
  transition: transform 0.3s;
  height: $navbar-height;

  &.visible {
    transform: translateY(0px);
  }

  .controls {
    > * {
      margin-left: 10px;
    }
  }
}
