@import '../../globals.scss';

.under-construction {
  height: 100%;
}

.social-icons {
  position: relative;
  z-index: 2;

  a {
    color: var(--primary-btn);

    &:hover {
      filter: brightness(0.9);
    }
  }
}

@media (min-width: 992px) {
  .social-icons {
    position: absolute;
    height: 100%;
    top: $navbar-height;
    right: 2.5rem;
    width: auto;
  }
}
