@import '../../index.scss';

.under-construction {
  height: 100%;
}

.social-icons {
  position: absolute;
  right: .5rem;
  bottom: 50%;
  z-index: 2;

  a {
    color: var(--primary-bg);

    &:hover {
      color: var(--primary-bg);
      filter: brightness(0.8);
    }
  }
}

@include media-breakpoint-up(md) {
  .social-icons {
    right: 2.5rem;
    bottom: 40%;
  }
}
